<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pizzas</title>
    <link rel="stylesheet" href="css/luigi.css">
    <link rel="icon" href="luigi.ico" type="image/x-icon">
</head>
<body>
<h1>Pizzas</h1>
<table id="pizzaTable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pizza : ${pizzas}" th:object="${pizza}">
        <td th:text="*{name}"></td>
        <td th:text="*{price}" class="number"></td>
    </tr>
    </tbody>
</table>
</body>
</html>